In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os.path

In [25]:
concept = pd.read_csv('SP500_concepts.csv')

In [26]:
concept = concept.sort_values(by=['Symbol']).reset_index(drop=True)

In [27]:
N = 0
for i in range(concept.shape[0]):
    name = concept['Symbol'][i]
    if os.path.exists('./dataset/'+name+'.csv'):
        N +=1
        
N

308

In [28]:
name_lst = []
for i in range(concept.shape[0]):
    name = concept['Symbol'][i]
    if os.path.exists('./dataset/'+name+'.csv'):
        name_lst.append(name)

In [34]:
pre_concept = pd.DataFrame({'Symbol':name_lst})
pre_concept = pre_concept.merge(concept, how='inner', on='Symbol').drop('Security', axis=1)
pre_concept.columns=['Symbol', 'Sector', 'SubInd', 'Headloc', 'Date_added', 'CIK', 'Founded']
pre_concept

,Symbol,Sector,SubInd,Headloc,Date_added,CIK,Founded
0,A,Health Care,Health Care Equipment,"Santa Clara, California",2000/6/5,1090872,1999
1,AAL,Industrials,Airlines,"Fort Worth, Texas",2015/3/23,6201,1934
2,AAP,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015/7/9,1158449,1932
3,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982/11/30,320193,1977
4,ABC,Health Care,Health Care Distributors,"Chesterbrook, Pennsylvania",2001/8/30,1140859,1985
...,...,...,...,...,...,...,...
303,XEL,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957/3/4,72903,1909
304,XOM,Energy,Integrated Oil & Gas,"Irving, Texas",1957/3/4,34088,1999
305,YUM,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997/10/6,1041061,1997
306,ZBH,Health Care,Health Care Equipment,"Warsaw, Indiana",2001/8/7,1136869,1927
307,ZION,Financials,Regional Banks,"Salt Lake City, Utah",2001/6/22,109380,1873

In [39]:
N, K = pre_concept.shape

In [41]:
relation = np.zeros((N, N, K-1))
for i in range(N):
    for j in range(N):
        for k in range(K-1):
            if pre_concept.iloc[i, k+1]==pre_concept.iloc[j, k+1]:
                relation[i, j, k] = 1
                
relation

array([[[1., 1., 1., 1., 1., 1.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        ...,
        [0., 0., 0., 0., 0., 0.],
        [1., 1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0.],
        [1., 1., 1., 1., 1., 1.],
        [0., 0., 0., 0., 0., 0.],
        ...,
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [1., 1., 1., 1., 1., 1.],
        ...,
        [1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]],

       ...,

       [[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        ...,
        [1., 1., 1., 1., 1., 1.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]],

       [[1., 1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        ...,
        [0., 0., 0., 0., 0., 0.],
        [1., 1., 1., 1., 1., 1.],
        [0., 0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        ...,
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [1., 1., 1., 1., 1., 1.]]])

In [48]:
np.save('relation.npy', relation)